<a href="https://colab.research.google.com/github/robitussin/CCDATSCL_EXERCISES/blob/main/Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

In this activity, you will work with the New York City Airbnb Open Data—a popular, messy, and highly realistic dataset used by data analysts and data scientists around the world. The dataset includes thousands of Airbnb listings along with details about hosts, locations, prices, reviews, and more.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pmq3Gv7y7z_2Xun-OqMIk43kd5u0TXEatw&s"/>


To guide your work, you will follow the 6-Step Data Wrangling Process, a professional workflow used in industry:

- Discovering. Become familiar with the data by exploring its structure and observing patterns.

- Structuring. Fix issues related to format, column types, indices, and duplicated records.

- Cleaning. Handle missing values, outliers, and inconsistencies so the dataset becomes trustworthy.

- Enriching. Add new features, aggregate information, and enhance the dataset for deeper insights.

- Validating. Apply rule-based checks to ensure the data meets quality standards.

- Publishing. Export and prepare the cleaned dataset for downstream analysis or reporting.
Throughout this exercise, you will answer questions and fill in code cells based on these six steps. You will mimic what professional data scientists do when preparing data for business intelligence dashboards, machine learning models, or exploratory analysis.

In [1074]:
import kagglehub
import os
import pandas as pd
import numpy as np

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

Using Colab cache for faster access to the 'new-york-city-airbnb-open-data' dataset.
Path to dataset files: /kaggle/input/new-york-city-airbnb-open-data
True

## A. Discovering

Display the first 10 rows

In [1075]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

Display the column names:

In [1076]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

Display the dataframe shape:

In [1077]:
df.shape

(48895, 16)

Identify the numerical features:

In [1078]:
numerical_features = df.select_dtypes(include=np.number).columns.tolist()
print(numerical_features)

['id', 'host_id', 'latitude', 'longitude', 'price', 'minimum_nights', 'number_of_reviews', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']

Identify the categorical features

In [1079]:
categorical_features = df.select_dtypes(include='object').columns.tolist()
print(categorical_features)

['name', 'host_name', 'neighbourhood_group', 'neighbourhood', 'room_type', 'last_review']

What are the top 5 questions this dataset might help answer?

In [1080]:
#1. What is the average price of Airbnb listings across different neighborhoods and room types in NYC?
#2. Which areas of NYC have the highest concentration of Airbnb listings, and how does this relate to their average prices?
#3. Are there relationships between the number of reviews a listing has, its price, and its availability throughout the year?
#4. Who are the most prolific hosts in NYC, and how does the number of listings a host manages affect their listing prices or review counts?
#5. What are the common minimum stay requirements, and do these vary significantly by room type or location?

## B. Structuring

Check if the dataset has proper column types

In [1081]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

Check if the dataset has index issues

In [1082]:
print(df.index)

RangeIndex(start=0, stop=48895, step=1)

Check if the dataset has duplicated rows

In [1083]:
print(f"{df.duplicated().sum()}")

0

Convert columns to correct types (e.g., dates → datetime).

In [1084]:
df['last_review'] = pd.to_datetime(df['last_review'])

Identify at least one structural issue and describe how to fix it.

In [1085]:
#The 'last_review' column is currently of object type, but it represents dates and should be a datetime object for proper time-series analysis and calculations.

## C. Cleaning

Check for missing values

In [1086]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Check for outliers in `minimum_nights`

In [1087]:
print(df['minimum_nights'].describe())
upper_bound = df['minimum_nights'].quantile(0.99)
outliers = df[df['minimum_nights'] > upper_bound]['minimum_nights'].unique()

count    48895.000000
mean         7.029962
std         20.510550
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64

Check for invalid values (e.g., price ≤ 0)

In [1088]:
def check_invalid(label, condition):
    print(f"{label}: {condition.sum()}")


check_invalid("id <= 0", df["id"] <= 0)
check_invalid("host_id <= 0", df["host_id"] <= 0)

string_cols = ["name", "host_name", "neighbourhood_group", "neighbourhood", "room_type"]
for col in string_cols:
    cond = df[col].isnull() | (df[col].astype(str).str.strip() == "")
    check_invalid(f"{col} null/empty", cond)

check_invalid("latitude invalid", (df["latitude"] < -90) | (df["latitude"] > 90))
check_invalid("longitude invalid", (df["longitude"] < -180) | (df["longitude"] > 180))

check_invalid("price <= 0", df["price"] <= 0)

check_invalid("minimum_nights < 1", df["minimum_nights"] < 1)

check_invalid("number_of_reviews < 0", df["number_of_reviews"] < 0)

df["last_review"] = pd.to_datetime(df["last_review"], errors="coerce")
check_invalid("last_review invalid", df["last_review"].isnull())

check_invalid("reviews_per_month < 0", df["reviews_per_month"] < 0)

check_invalid("calculated_host_listings_count < 0",
              df["calculated_host_listings_count"] < 0)

check_invalid("availability_365 invalid",
              (df["availability_365"] < 0) | (df["availability_365"] > 365))

id <= 0: 0
host_id <= 0: 0
name null/empty: 16
host_name null/empty: 21
neighbourhood_group null/empty: 0
neighbourhood null/empty: 0
room_type null/empty: 0
latitude invalid: 0
longitude invalid: 0
price <= 0: 11
minimum_nights < 1: 0
number_of_reviews < 0: 0
last_review invalid: 10052
reviews_per_month < 0: 0
calculated_host_listings_count < 0: 0
availability_365 invalid: 0

Apply a missing-value strategy (drop, fill, or flag)

In [1089]:
df = df[df['id'] > 0]
df = df[df['host_id'] > 0]

df['name'] = df['name'].replace('', pd.NA).fillna('Unknown')
df['host_name'] = df['host_name'].replace('', pd.NA).fillna('Unknown')
df['neighbourhood_group'] = df['neighbourhood_group'].replace('', pd.NA).fillna('Unknown')
df['neighbourhood'] = df['neighbourhood'].replace('', pd.NA).fillna('Unknown')
df['room_type'] = df['room_type'].replace('', pd.NA).fillna('Unknown')

df = df[(df['latitude'] >= -90) & (df['latitude'] <= 90)]
df = df[(df['longitude'] >= -180) & (df['longitude'] <= 180)]

df = df[df['price'] > 0]
df = df[df['minimum_nights'] >= 1]
df = df[df['number_of_reviews'] >= 0]

df['last_review'] = pd.to_datetime(df['last_review'], errors='coerce')
df = df[df['last_review'].notnull()]

df = df[df['reviews_per_month'] >= 0]
df = df[df['calculated_host_listings_count'] >= 0]

df = df[(df['availability_365'] >= 0) & (df['availability_365'] <= 365)]

df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

Apply an outlier-handling strategy

In [1090]:
upper_bound_min_nights = df['minimum_nights'].quantile(0.99)
df['minimum_nights'] = np.where(df['minimum_nights'] > upper_bound_min_nights,
                                df['minimum_nights'].quantile(0.99),
                                df['minimum_nights'])

print(f"'minimum_nights' capped at {upper_bound_min_nights} (99th percentile).")
print(df['minimum_nights'].describe())

'minimum_nights' capped at 31.0 (99th percentile).
count    38833.000000
mean         5.162053
std          7.759027
min          1.000000
25%          1.000000
50%          2.000000
75%          4.000000
max         31.000000
Name: minimum_nights, dtype: float64

## D. Enriching

Create at least 3 new variables:
- price_per_minimum_night
- review_rate_per_month (combine ratings + frequency)
- is_expensive (boolean flag based on price threshold)

In [1091]:
df['price_per_minimum_night'] = df['price'] / df['minimum_nights']
df['review_rate_per_month'] = df['number_of_reviews'] * df['reviews_per_month']
price_threshold = df['price'].quantile(0.75)
df['is_expensive'] = (df['price'] > price_threshold).astype(int)

print("New features created:")
print(df[['price_per_minimum_night', 'review_rate_per_month', 'is_expensive']].head())

New features created:
   price_per_minimum_night  review_rate_per_month  is_expensive
0               149.000000                   1.89             0
1               225.000000                  17.10             1
3                89.000000                1252.80             0
4                 8.000000                   0.90             0
5                66.666667                  43.66             1

Create 1 aggregated summary table

(e.g. average price per neighborhood number of hosts per borough)

In [1092]:
summary_table = df.groupby(['neighbourhood_group', 'neighbourhood']).agg({
    'price': 'mean',
    'host_id': 'nunique'
}).reset_index()

summary_table.columns = [
    'neighbourhood_group',
    'neighbourhood',
    'average_price',
    'unique_hosts'
]

print(summary_table.head())

  neighbourhood_group neighbourhood  average_price  unique_hosts
0               Bronx      Allerton      90.594595            24
1               Bronx    Baychester      78.000000             4
2               Bronx       Belmont      79.450000            15
3               Bronx     Bronxdale      51.875000            15
4               Bronx   Castle Hill      74.000000             2

## E. Validating

Create at least 3 validation checks
- Price must be positive.
- Host ID should not be null.
- Minimum nights must be ≥ 1.
- Generate a validation report:
- Count of rows violating each rule.

Decide if invalid rows (if any) should be removed or corrected?

In [1093]:
# Validation Checks
price_violation = df[df['price'] <= 0]
host_id_violation = df[df['host_id'].isnull()]
minimum_nights_violation = df[df['minimum_nights'] < 1]

num_price_violations = len(price_violation)
num_host_id_violations = len(host_id_violation)
num_minimum_nights_violation = len(minimum_nights_violation)

# Validation Report
print(f"Price <= 0 violations: {num_price_violations}")
print(f"Host ID null violations: {num_host_id_violations}")
print(f"Minimum nights < 1 violations: {num_minimum_nights_violation}")
print("-----------")

# Decide how to handle invalid rows
strategy = "correct"   # options: "remove" or "correct"

initial_rows = len(df)

if strategy == "remove":
    df = df[df['price'] > 0]
    df = df[df['host_id'].notnull()]
    df = df[df['minimum_nights'] >= 1]

elif strategy == "correct":
    df['price'] = df['price'].mask(df['price'] <= 0, df['price'].median())
    df['host_id'] = df['host_id'].fillna(df['host_id'].mode()[0])
    df['minimum_nights'] = df['minimum_nights'].mask(df['minimum_nights'] < 1, 1)

final_rows = len(df)

print(f"Rows before cleaning: {initial_rows}")
print(f"Rows after cleaning:  {final_rows}")
print(f"Rows affected:        {initial_rows - final_rows}")

Price <= 0 violations: 0
Host ID null violations: 0
Minimum nights < 1 violations: 0
-----------
Rows before cleaning: 38833
Rows after cleaning:  38833
Rows affected:        0

## F. Publishing

Select final columns for publication.

In [1094]:
final_columns = [
    'id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood',
    'latitude', 'longitude', 'room_type', 'price', 'minimum_nights',
    'number_of_reviews', 'reviews_per_month', 'calculated_host_listings_count',
    'availability_365', 'price_per_minimum_night', 'review_rate_per_month', 'is_expensive'
]
df_published = df[final_columns]
print("Selected final columns for publication:")
print(df_published.head())

Selected final columns for publication:
     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192
5  5099         Large Cozy 1 BR Apartment In Midtown East     7322

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399
5        Chris           Manhattan   Murray Hill  40.74767  -73.97500

         room_type  price  minimum_nights  number_of_reviews  \
0     Private room    149             1.0                  9
1  Entire home/apt    225             1.0                 45
3  Entire home/apt     89             1.0                270
4  Entire home/apt     80            10.0                  9
5  Entire home/apt    200             3.0                 74

   reviews_per_month  calculated_host_listings_count  availability_365  \
0               0.21                               6               365
1               0.38                               2               355
3               4.64                               1               194
4               0.10                               1                 0
5               0.59                               1               129

   price_per_minimum_night  review_rate_per_month  is_expensive
0               149.000000                   1.89             0
1               225.000000                  17.10             1
3                89.000000                1252.80             0
4                 8.000000                   0.90             0
5                66.666667                  43.66             1

Export cleaned dataset as "cleaned_airbnb.csv"

In [1095]:
df_published.to_csv('cleaned_airbnb.csv', index=False)
print("dataset exported to 'cleaned_airbnb.csv'")

dataset exported to 'cleaned_airbnb.csv'

Export summary reports (e.g., validation or aggregations) as CSV.

In [1096]:
final_columns = [
    'id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood',
    'latitude', 'longitude', 'room_type', 'price', 'minimum_nights',
    'number_of_reviews', 'last_review', 'reviews_per_month',
    'calculated_host_listings_count', 'availability_365',
    'price_per_minimum_night', 'review_rate_per_month', 'is_expensive'
]

df_published = df[final_columns]

print("Selected final columns for publication:")
print(df_published.head())

Selected final columns for publication:
     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192
5  5099         Large Cozy 1 BR Apartment In Midtown East     7322

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399
5        Chris           Manhattan   Murray Hill  40.74767  -73.97500

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149             1.0                  9  2018-10-19
1  Entire home/apt    225             1.0                 45  2019-05-21
3  Entire home/apt     89             1.0                270  2019-07-05
4  Entire home/apt     80            10.0                  9  2018-11-19
5  Entire home/apt    200             3.0                 74  2019-06-22

   reviews_per_month  calculated_host_listings_count  availability_365  \
0               0.21                               6               365
1               0.38                               2               355
3               4.64                               1               194
4               0.10                               1                 0
5               0.59                               1               129

   price_per_minimum_night  review_rate_per_month  is_expensive
0               149.000000                   1.89             0
1               225.000000                  17.10             1
3                89.000000                1252.80             0
4                 8.000000                   0.90             0
5                66.666667                  43.66             1